$bg-dark: #6c3f18;
$bg-main: rgb(31, 24, 26);
$shadow: 0px 3px 12px 7px;
$sidebar-width: 1vw;

$ft-main: rgb(239, 237, 232);
$ft-light: rgb(215, 194, 155);
$ft-dark: rgb(210, 175, 109);
$ft-accent: rgb(148, 185, 140);
