@import 'variables';

* {
  box-sizing: border-box;
}

select{
  background-color: $bg-light ;
  border-radius: 0.3em;
  color: inherit;
  border: none;
  appearance: none;
  padding: 0.6em;
}

option{
  padding:1em;
  border-radius: none;
}

select:hover{
  background: $bg-light ;
}

body {
  color: white;
  background: rgb(22, 2, 7);
  min-height: 100vh;
  display: grid;
  margin: 0;
  grid-template-rows: 1fr auto;
}

main {
  // background-color: burlywood;
  padding: 3em;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  color: inherit;
  font-weight: bold;
  letter-spacing: 0.1em;
  border-radius: 0px;
  border: 2px solid $bg-dark;
  padding: 0.5em;
  margin: 0.3em;
  background-color: lighten($bg-dark,12%);
}

button:hover {
  border: 2px solid $bg-main;
  background-color: lighten($bg-dark,17%);
  box-shadow: 2px 2px 15px 4px $bg-main;
  cursor: pointer;
}

dialog{
  background-color: $bg-main;
  color:inherit;
  width: 25vw;
  height: 40vh;
}
dialog::backdrop{
  background-color: rgb(22, 2, 7, 0.8);
}